body {
    background: url() no-repeat center center fixed;
    background-size: cover;
	font-size: 2em;
	color: #444;
	font-family: Helvetica, Arial, sans-serif;
	text-align: center;
	margin-top: 20vh;
	font-weight: 300;
}

#gametitle {
    text-decoration: underline
}

#subheading {
    padding-top: 1em;
    padding-bottom: 2em;
    font-size: 1rem;
    margin: 20px auto;

}

button {
	font-size: 1.5rem;
	padding: .7rem;
	margin: .5rem;
	border-radius: 10px;
	border-width: 2px;
	background-color: #eee;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	border-style: solid;

}

button:hover {
	transform: scale(1.1);
	transition-duration: .07s;
}

button:focus {
	outline: none;
	border-color: lightskyblue;
}

#results {
	font-size: 1.5rem;
    margin: 20px auto;
}

table {
	margin: 20px auto;
}

thead {
	color: grey;
}

td {
	padding: .5em;
}

#play-again-button {
	margin-top: 1em;
	font-size: 1.2rem;
}